@media only screen and (min-width: 991px) {
  .w-lg-auto {
    width: fit-content !important;
  }

  .count-box .border-bottom {
    border-bottom: none !important;
  }
}

@media only screen and (max-width: 991px) {
  .img-footer {
    position: relative;
    margin: 2rem auto -3rem auto;
    display: block;
  }
}
