*, body, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--black);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
