:root{
    --white: #FFFFFF;
    --white-50: #F5F4F5;

    --green1: #72B261;
    --green2: #83B348;
    --green-50: #EBF2E2;

    --blue: #183444;

    --black: #292929;
    --black-50:#868686;

    --dark-blue:#183444;

    --shadow1: 0 0 5px rgb(203, 203, 203);
}