.header-banner-contact {
  background-image: url(/images/contact-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20rem;
}

.get-in-touch {
  padding: 8rem 0;
}

.send-message {
padding-bottom: 5rem;
}

.send-message-banner {
  background-image: url(/images/working.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
}

.form-box {
  position: relative;
  top: -5rem;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow1);
}

.label-input {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black-50);
}

.select-box {
  border: none;
  background: var(--white-50);
  color: var(--black-50);
  padding: .8rem;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.select-box:focus {
  outline: 2px solid var(--green1);
  background-color: var(--white);
}
