/** ===============  START Header Banner  =============== **/
.header-banner-home {
  background-color: var(--white-50);
}
.header-banner-home .row {
  padding-top: 3rem;
  padding-bottom: 8rem !important;
}
.banner-img-box {
  width: 100%;
  background-image: url(/images/bg_img_home.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.freelancer-img-box {
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 3px solid var(--white);
  box-shadow: 0 0 5px rgb(203, 203, 203);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.freelancer-img-box:hover {
  z-index: 10;
  transform: scale(1.1);
  border: 3px solid var(--green1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.freelancer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.freelancer-img-box:not(:first-child) {
  margin-left: -1rem;
}
/* ===============  END Header Banner  =============== */

/** ===============  START Services  =============== **/
.services {
  background-color: var(--white);
}

.services .position-relative {
  top: -4rem;
}
.services-box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--shadow1);
  padding: 2rem;
}

.icon-services {
  font-size: 3rem;
}

.services-bottom{
    margin: 5rem 0 !important;
}

.container-experience {
  background-image: url("/images/bg2_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.masking-img {
  mask-image: url("/images/masking2_img.png");
  mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;
  z-index: 20;
  width: 100%;
}

.experience-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px 60px rgba(145, 145, 145, 0.152);
}

.experience-label span{
font-size: 3rem;
font-weight: 700;
}

/* ===============  END Services =============== */



/** ===============  START Featured Company  =============== **/
.featured-company{
  min-height: 60vh;
}

.featured-company-img-box{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
  margin: .1rem 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-company-img-box img{
  object-fit: cover;
  width: 100%;
}
/* ===============  END Featured Compan =============== */



/** ===============  START Community  =============== **/
.community{
  height: 90vh;
  background-image: url('/public//images/positive-about.jpg');
  background-position: center;
  background-size: cover;
}
.community-bg{
  display: flex;
  align-items: center;
height: 100%;
  background: linear-gradient(70deg, #183444 25%, #18344480 100%);;
}

.count-up{
  position: absolute;
  width: 100%;
  bottom: -10%;
}

.count-box{
  padding: 2rem 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 10px 50px rgba(52, 52, 52, 0.06);
}

.count-number{
  color: var(--green1);
  font-size: 2.5rem;
  font-weight: bold;
}

/* ===============  END Community =============== */