.SocialIcon{
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(246, 246, 246, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ;
    -moz-transition: all .3s ;
    -ms-transition: all .3s ;
    -o-transition: all .3s ;
}
.SocialIcon:hover{
    background-color: var(--green1);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}