.jobDetail{
    padding: 4rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px 30px rgba(233, 233, 233, 0.348) ;
}
